/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

html {
  height: 100%;
}

body {
    font: 16px/26px Fira sans, Helvetica, Helvetica Neue, Arial, sans-serif;
    height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Open Sans Condensed, Helvetica, Arial, sans-serif;
}

h3 {
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #f4f4f2;
}

.footer-container,
.main aside {
}

.header-container,
.footer-container,
.main aside {
    background: #f4f4f2;
}

.title {
    color: #116656;
}

.subtitle {
  color: #199880;
  clear: left;
  margin: 0;
  font-size: 16pt;
}

.en {
  color: #999;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    padding: 0px 5% 10px;
}

.main-container {
  padding-bottom: 200px;
}

.footer-container footer {
    padding: 20px 0;
}

.footer-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 200px;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

header h3 {
  border-bottom: 1px solid #000;
}

.menu_option h4 {
  margin: 5pt 0;
}

.menu_item {
  margin: 0 0 10pt 0;
}

.disclaimer {
  font-size: 9pt;
}

a {
  color: #116656;
  text-decoration: none;
}


a:hover {
  text-decoration: underline;
}

a.plain {
  text-decoration: none;
}

nav a {
  padding-right: 15pt;
}

header.date a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

header.date a:hover:after {
 content: "";
 display: inline-block;
 background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAIMSURBVDiNjZHNS1RhFMZ/573j6JQLISnaVyJELSKIoJopI7jjVeb+CX1AEVFBSOuoRREtgqDWgYGRIfcKYxmzCQyMvpQoqNA2SRYYviTer9NmBBvK8Vme5/09POc9wjpUq9Vy1trLwHGgA3hmjLlULpdnZR1wm7X2EeA2WAsissc0C7DWXqjDc8D+OI47gYdAh6rebBpgjKkCg1mWFT3Pm/B9/2dLS8vpun2g6Qr/UhiG3ar6XkRmco2mqkoYhieAk8A2YCJJknOVSmUGYHh4eJOqDtafP/6rQRAEG1T1voj4DblPPM87FgRBJzAO7Aam8/n8PlkNAyFQAr6JyClVnQLOAs8dx3mRpuk4sAuYiuO4x/f97w7A2NjYxjRNR+vwV8dxiqrqiEipvb39ehRFqGoV2Am8cxynp6+vbx7A1Gq1tiiKRoEiMCsiJdd1P6vqVVW9ba2dA6aBbuA1cMR13fmV5sZaewU4BMwmSVLs7e39AmCMOQ+8BTYBiYjcW1paOuh53o/VnyNBEHwEdmRZtre/v/9l41VGRka2GGMWPc/73egB5IDNAMvLyx9WhtVqdWscxxdF5O5Ko/8pJyKTqnq0UCjcGBoaGmhtbd0ex/EDoCvLsl/AtbUCjIgMABFwplAoLBpjXgFdwGSapnfWggFMuVx+k2XZYRF5CiwAn4Bb+Xy+VKlUFpoF/AGYd9fXlwNznwAAAABJRU5ErkJggg==);
 width: 16px;
 height: 16px;
 margin-left: 4px;
 margin-bottom: -2px;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }


/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
    }



  .menu_option {
    float: left;
    margin-right: 2%;
  }

  .meals-3 .menu_option {
    width: 32%;
  }

  .meals-4 .menu_option {
    width: 48%;
  }

  .meals-5 .menu_option {
    width: 48%;
  }

  .menu_option:last-child {
    margin-right: 0;
  }

  .disclaimer {
    width: 768px;
    float: left;
  }

  nav a {
    display: block;
  }

}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }


  .menu_option {
    float: left;
    margin-right: 1%;
  }

  .meals-3 .menu_option {
    width: 32%;
  }

  .meals-4 .menu_option {
    width: 24%;
  }

  .meals-5 .menu_option {
    width: 19%;
  }

  .menu_option:last-child {
    margin-right: 0;
  }

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
